@import "nib/vendor"
@import "nib/clearfix"
@import "nib/reset"
@import "nib/gradients"
@import "nib/positions"


global-reset()
*
  box-sizing border-box
html
  font-size 16px


mainColor      = #8F098F
linkColor      = mainColor // #850051
visitedColor   = #A35E88
textColor      = #333
verticalMargin = 32px
boxBackground  = #FAFAFA
boxTextColor   = #101010
defaultBorder  = 1px solid #FFF


@import "layout"
@import "typo"
@import "design"