@import "nib/vendor"
@import "nib/clearfix"
@import "nib/reset"
@import "nib/gradients"
@import "nib/positions"


global-reset()
*
  box-sizing border-box
html
  font-size 16px


mainColor      = #8F098F
linkColor      = mainColor // #850051
visitedColor   = #A35E88
textColor      = #333
verticalMargin = 32px
boxBackground  = #FAFAFA
boxTextColor   = #101010
defaultBorder  = 1px solid #FFF
boxshadow = 0.2em 0.2em 1.2em lighten(textColor, 45)
boxstyle()
  background boxBackground
  color boxTextColor
  padding 0 verticalMargin
  box-shadow boxshadow


@import "design"
@import "layout"
@import "typo"